@{
    Layout = "/Views/Shared/_Layoutpdf.cshtml";
    string toDecimal(double? d)
    {
        if (d == null)
        {
            return "";
        }
        else
        {
            return d.Value.ToString("#,##0.##");
        }
    }
    double? tongGiaTri = 0;
    List<ChiTietPhieuNhap> datas = ViewBag.Datas;
}
<style>
    th {
        font-size: 15px;
    }

    td {
        font-size: 15px;
    }
</style>
<div class="title card" style="margin-left:0; display:block;">
    <div style="width:100%">
        <h1 style="font-size: x-large;font-weight: 700;text-align: center; margin: 0;">
            BÁO CÁO VACINE TỒN KHO
        </h1>
    </div>
</div>
<div class="info card">
    <div class="row-info text-center">
        Từ ngày: @ViewBag.TuNgay, Đến ngày: @ViewBag.DenNgay
    </div>
</div>
<div class="table card">
    <table style="width:100%;">
        <thead>
            <tr>
                <th class="text-center p-1">TT</th>
                <th class="text-center p-1">Ngày</th>
                <th class="text-center p-1">Số phiếu</th>
                <th class="text-center p-1">Mã cung cấp</th>
                <th class="text-center p-1">Tên nhà cung cấp</th>
                <th class="text-center p-1">Số HĐ</th>
                <th class="text-center p-1">Ngày HĐ</th>
                <th class="text-center p-1">Mã vacine</th>
                <th class="text-center p-1">Tên vacine</th>
                <th class="text-center p-1">Hạn dùng</th>
                <th class="text-center p-1">SL nhập</th>
                <th class="text-center p-1">ĐVT</th>
                <th class="text-center p-1">Giá nhập</th>
                <th class="text-center p-1">Thành tiền</th>
                <th class="text-center p-1">SL tồn</th>
                <th class="text-center p-1">Trị giá tồn</th>
            </tr>
        </thead>
        <tbody>
            @{
                int tt = 1;
            }
            @foreach (var data in datas)
            {
                <tr>
                    <td class="text-center p-1">@tt</td>
                    <td class="text-center p-1">@data.IdpnNavigation.NgayNhap?.ToString("dd-MM-yy HH:mm")</td>
                    <td class="text-center p-1">@data.IdpnNavigation.SoPn</td>
                    <td class="text-center p-1">@data.IdpnNavigation.IdnccNavigation.MaNcc</td>
                    <td class="p-1">@data.IdpnNavigation.IdnccNavigation.TenNcc</td>
                    <td class="p-1">@data.IdpnNavigation.SoHd</td>
                    <td class="p-1">@data.IdpnNavigation.NgayHd?.ToString("dd-MM-yy")</td>
                    <td class="text-center p-1">@data.IdvaccineNavigation.MaVaccine</td>
                    <td class="p-1">@data.IdvaccineNavigation.TenVaccine</td>
                    <td class="text-center p-1">@data.Hsd?.ToString("dd-MM-yy")</td>
                    <td class="text-end p-1">@CommonServices.FormatOddNumber(data.SoLuong.Value)</td>
                    <td class="p-1">@data.IdvaccineNavigation.DonViTinh</td>
                    <td class="text-end p-1">@CommonServices.FormatOddNumber(data.DonGia.Value)</td>
                    <td class="text-end p-1">@CommonServices.FormatOddNumber(data.SoLuong.Value * data.DonGia.Value)</td>
                    <td class="text-end p-1">@CommonServices.FormatOddNumber(data.SoLuong.Value - (data.SoLuongXuat ?? 0))</td>
                    <td class="text-end p-1">@CommonServices.FormatOddNumber((data.SoLuong.Value - (data.SoLuongXuat ?? 0)) * data.DonGia.Value)</td>
                </tr>
                tt++;
                tongGiaTri += (data.SoLuong - (data.SoLuongXuat ?? 0)) * data.DonGia;
            }
            <tr>
                <td colspan="15" style="background-color: lightgray !important;
                               position: sticky;padding: 10px 5px;
                               bottom:0; text-align:start!important;
							   font-weight:700">
                    Tổng giá trị tồn
                </td>
                <td style="
                                                        background-color: lightgray !important;
                                                        position: sticky;padding: 10px 5px;
                                                        bottom:0; text-align:end!important;
                                                        font-weight:700">
                    @toDecimal(tongGiaTri) (VNĐ)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="page-break-inside:avoid;">
    <div class="">
        <div class="flex" style="font-size:16px; font-weight:700">
            <div class="w-34 text-center">
            </div>
            <div class="w-33 text-center">
            </div>
            <div class="w-33 text-center">
                <em>Ngày ... Tháng ... Năm ...</em>
            </div>
        </div>
    </div>
    <div class="">
        <div class="flex" style="font-size:16px; font-weight:700">
            <div class="w-34 text-center">
                Thủ trưởng đơn vị
            </div>
            <div class="w-33 text-center">
                Kế toán
            </div>
            <div class="w-33 text-center">
                Người lập phiếu
            </div>
        </div>
    </div>
    <div>
        <div class="flex" style="font-size:12px;">
            <div class="w-34 text-center">
                (ký, họ tên, đóng dấu)
            </div>
            <div class="w-33 text-center">
                (ký, họ tên)
            </div>
            <div class="w-33 text-center">
                (ký, họ tên)
            </div>
        </div>
    </div>
</div>