<div class="page-body">
    <div class="">
        <div class="card">
            <div>
            </div>
            <div class="card-body p-2">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tabs-form" role="tabpanel">
                        <div class="row p-2">
                            <div class="col-md-3 mb-2">
                                <div class="card">
                                    <div class="card-body p-2">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="table-responsive vh-lg-67">
                                                        <table class="table table-vcenter card-table table-bordered table-text">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center p-2">TT</th>
                                                                    <th class="text-center">Tên Profile</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbody-Form">
                                                                @{
                                                                    int i = 1;
                                                                }
                                                                @foreach (DmProfile pr in ViewBag.Profiles)
                                                                {
                                                                    <tr data-id="@pr.Id">
                                                                        <td class="text-center">@i</td>
                                                                        <td class="text-start ten">@pr.TenProfile</td>
                                                                    </tr>
                                                                    i++;
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="card">
                                    <div class="card-body p-2">
                                        <div class="row">
                                            <div class="col-auto mb-2">
                                                <button class="btn btn-primary" id="btnLuuForm">Lưu</button>
                                            </div>
                                        </div>
                                        <form class="row" id="formThemForm">
                                            <div class="col-12 col-md-3 mb-2">
                                                <input class="form-control" required type="text" autocomplete="off" placeholder="Tên profile" id="txtTenProfile" />
                                            </div>
                                            <div class="col-12 col-md-2 mb-2">
                                                <select id="cbGioiTinh" class="form-control" disabled>
                                                    <option selected value="">-- Giới tính --</option>
                                                    @foreach (DmGioiTinh gt in ViewBag.GioiTinhs)
                                                    {
                                                        <option value="@gt.Id">@gt.TenGioiTinh</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-2 col-md-auto mb-2">
                                                <button class="btn btn-primary btn-icon" id="btnAddRowCt" type="button">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M12 5l0 14"></path>
                                                        <path d="M5 12l14 0"></path>
                                                    </svg>
                                                </button>
                                            </div>
                                        </form>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="table-responsive" style="height:63vh;" id="tableDM">
                                                        <table class="table table-vcenter card-table table-bordered text-nowrap table-input">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center p-2">STT</th>
                                                                    <th class="text-center">Tên vaccine</th>
                                                                    <th class="text-center">Số lần tiêm</th>
                                                                    <th class="text-center">TG sớm nhất</th>
                                                                    <th class="text-center">TG trễ nhất</th>
                                                                    <th class="text-center">Thời gian</th>
                                                                    <th class="text-center">Mũi tiên quyết</th>
                                                                    <th class="text-center" style="z-index:3;">Tùy chọn</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbody-tableCt">
                                                                
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/Js//DmProfileJs.js" defer asp-append-version="true"></script>