@{
    string formatDay(DateTime? date)
    {
        if (date != null)
        {
            return date.Value.ToString("dd-MM-yyyy");
        }
        else
        {
            return null;
        }
    }
}
<div class="page-body mb-1">
    <div class="card">
        <div class="position-absolute top-0 w-100 h-100 left-0 modal-blur fade " id="Pageloader" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: -1;">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="container container-slim py-4">
                        <div class="text-center">
                            <div class="mb-3">
                                <span class="navbar-brand navbar-brand-autodark"><img src="./static/logo-small.svg" height="36" alt=""></span>
                            </div>
                            <div class="text-dark mb-3 fw-bolder fs-2">Đang tải...</div>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-indeterminate"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs nav-fill" id="myTab" data-bs-toggle="tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a href="#tab-DSBenhNhan" class="nav-link text-dark active" data-bs-toggle="tab" aria-selected="true" role="tab">
                        <!-- Download SVG icon from http://tabler-icons.io/i/home -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-id me-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M3 4m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v10a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z"></path>
                            <path d="M9 10m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                            <path d="M15 8l2 0"></path>
                            <path d="M15 12l2 0"></path>
                            <path d="M7 16l10 0"></path>
                        </svg>
                        Danh sách bệnh nhân
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="#tabs-KhamBenh" class="nav-link text-dark" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">
                        <!-- Download SVG icon from http://tabler-icons.io/i/user -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-stethoscope me-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M6 4h-1a2 2 0 0 0 -2 2v3.5h0a5.5 5.5 0 0 0 11 0v-3.5a2 2 0 0 0 -2 -2h-1"></path><path d="M8 15a6 6 0 1 0 12 0v-3"></path><path d="M11 3v2"></path><path d="M6 3v2"></path><path d="M20 10m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path></svg>
                        Khám bệnh
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="#tabs-ThuNgan" class="nav-link text-dark" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">
                        <!-- Download SVG icon from http://tabler-icons.io/i/user -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-dollar me-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /><path d="M14 11h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" /><path d="M12 17v1m0 -8v1" /></svg>
                        Thu Ngân
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="#tabs-TiemChung" class="nav-link text-dark" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">
                        <!-- Download SVG icon from http://tabler-icons.io/i/activity -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-vaccine me-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M17 3l4 4" /><path d="M19 5l-4.5 4.5" /><path d="M11.5 6.5l6 6" /><path d="M16.5 11.5l-6.5 6.5h-4v-4l6.5 -6.5" /><path d="M7.5 12.5l1.5 1.5" /><path d="M10.5 9.5l1.5 1.5" /><path d="M3 21l3 -3" /></svg>
                        Tiêm chủng
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body p-2">
            <div class="tab-content">
                <div class="tab-pane active show" id="tab-DSBenhNhan" role="tabpanel">
                    <div>
                        <div class="w-100">
                            <div class="row d-flex justify-content-between">
                                <div class="row col-9 col-lg-6 mb-2 p-0">
                                    <div class="row">
                                        <div class="col-3 ms-2">
                                            <div class="input-icon">
                                                <input type="text" autocomplete="off" class="form-control input-date-default" placeholder="Ngày khám" value="" disabled>
                                                <span class="input-icon-addon">
                                                    <!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path><path d="M16 3v4"></path><path d="M8 3v4"></path><path d="M4 11h16"></path><path d="M11 15h1"></path><path d="M12 15v3"></path></svg>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-auto p-0">
                                            <button id="btnReloadDSTN" class="btn btn-icon" aria-label="Button">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-refresh" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path>
                                                    <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="w-100">
                            <div class="card">
                                <div style="display: none;" id="progress">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-indeterminate bg-blue"></div>
                                    </div>
                                </div>
                                <div class="table-responsive" style="max-height:73vh;" id="tableDM">
                                    <table class="table table-vcenter card-table table-bordered table-hover table-nowrap">
                                        <thead>
                                            <tr>
                                                <th class="text-center MaBn">Mã bệnh nhân</th>
                                                <th class="text-center TenBn">Tên bệnh nhân</th>
                                                <th class="text-center NgaySinh">Ngày sinh</th>
                                                <th class="text-center NamSinh">Năm sinh</th>
                                                <th class="text-center NamSinh">Giới tính</th>
                                                <th class="text-center DiaChi">Địa chỉ</th>
                                                <th class="text-center Idtinh">Tỉnh/TP</th>
                                                <th class="text-center Idquan">Quận, huyện</th>
                                                <th class="text-center Idpx">Phường, xã</th>
                                                <th class="text-center DienThoai">Điện thoại</th>
                                                <th class="text-center Email">Email</th>
                                                <th class="text-center Iddt">Dân tộc</th>
                                                <th class="text-center Idnn">Nghề nghiệp</th>
                                                <th class="text-center Idqg">Quốc tịch</th>
                                                <th class="text-center SoCccd">CCCD</th>
                                                <th class="text-center NgayCap">Ngày cấp</th>
                                                <th class="text-center GhiChu">Ghi chú</th>
                                                <th class="text-center NgayDen">Ngày lưu hồ sơ</th>
                                                <th class="text-center last-th-column" style="z-index:3;">Tùy chọn</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody-table">
                                            @foreach (DmBenhNhan d in ViewBag.BenhNhans)
                                            {
                                                <tr data-id="@d.Id">
                                                    <td class="text-center MaBn">@d.MaBn</td>
                                                    <td class="text-start TenBn">@d.TenBn</td>
                                                    <td class="text-start NgaySinh">@formatDay(d.NgaySinh)</td>
                                                    <td class="text-center NamSinh">@d.NamSinh</td>
                                                    <td class="text-center Idgt">@(d.IdgtNavigation == null ? "" : d.IdgtNavigation.TenGioiTinh)</td>
                                                    <td class="text-start DiaChi">@d.DiaChi</td>
                                                    <td class="text-center Idtinh">@(d.IdtinhNavigation == null ? "" : d.IdtinhNavigation.TenTinh)</td>
                                                    <td class="text-start Idquan">@(d.IdquanNavigation == null ? "" : d.IdquanNavigation.TenQuan)</td>
                                                    <td class="text-start Idpx">@(d.IdpxNavigation == null ? "" : d.IdpxNavigation.TenXa)</td>
                                                    <td class="text-start DienThoai">@d.DienThoai</td>
                                                    <td class="text-start Email">@d.Email</td>
                                                    <td class="text-start Iddt">@(d.IddtNavigation == null ? "" : d.IddtNavigation.TenDanToc)</td>
                                                    <td class="text-start Idnn">@(d.IdnnNavigation == null ? "" : d.IdnnNavigation.TenNgheNghiep)</td>
                                                    <td class="text-start Idqg">@(d.IdqgNavigation == null ? "" : d.IdqgNavigation.TenQuocGia)</td>
                                                    <td class="text-start SoCccd">@d.SoCccd</td>
                                                    <td class="text-start NgayCap">@formatDay(@d.NgayCap)</td>
                                                    <td class="text-start GhiChu">@(d.GhiChu == null ? "" : d.GhiChu)</td>
                                                    <td class="text-start NgayDen">@(formatDay(d.NgayDen == null ? null : d.NgayDen))</td>
                                                    <td class="text-center last-td-column px-2">
                                                        <button class="status status-purple border-0 btn-kham" value="@d.Id">Khám</button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tabs-KhamBenh" role="tabpanel">

                </div>

                <div class="tab-pane" id="tabs-ThuNgan" role="tabpanel">
                        <div class="w-100">
                            <div class="row d-flex justify-content-between">
                                <div class="row col-9 col-lg-6 mb-2 p-0">
                                    <div class="row">
                                        <div class="col-3 ms-2">
                                            <div class="input-icon">
                                                <input type="text" autocomplete="off" class="form-control input-date-default" placeholder="Ngày khám" value="" disabled>
                                                <span class="input-icon-addon">
                                                    <!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path><path d="M16 3v4"></path><path d="M8 3v4"></path><path d="M4 11h16"></path><path d="M11 15h1"></path><path d="M12 15v3"></path></svg>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-auto p-0">
                                            <button id="btnReloadDSTN" class="btn btn-icon" aria-label="Button">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-refresh" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path>
                                                    <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="w-100">
                            <div class="card">
                                <div style="display: none;" id="progress">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-indeterminate bg-blue"></div>
                                    </div>
                                </div>
                                <div class="table-responsive" style="max-height:73vh;" id="tableDM">
                                    <table class="table table-vcenter card-table table-bordered table-hover table-nowrap">
                                        <thead>
                                            <tr>
                                                <th class="text-center p-2 w-2 "></th>
                                                <th class="text-center p-2 w-2 ">STT</th>
                                                <th class="text-center TenBenhNhan col-2">Tên bệnh nhân</th>
                                                <th class="text-center TenVaccine">Tên vaccine</th>
                                                <th class="text-center SoLuong p-2 w-2">Số lượng</th>
                                                <th class="text-center DonGia p-2 w-2">Đơn giá</th>
                                                <th class="text-center DaThu col-1">Đã thu</th>
                                                <th class="text-center NgayThu p-2 w-2">Ngày thu</th>
                                                <th class="text-center SoPhieuThu p-2 w-2">Số phiếu thu</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody-table">
                                           
                                                <tr>
                                                    <td class="text-center p-2">
                                                        <input class="form-check-input border-dark single-checkbox" name="ChonPhieuThu" type="checkbox" checked style="transform: scale(1.35);">
                                                    </td>
                                                    <td class="text-center STT">1</td>
                                                    <td class="text-start TenBN">Thái Lai</td>
                                                    <td class="text-start TenVaccine">Covid</td>
                                                    <td class="text-end SoLuong">1</td>
                                                    <td class="text-end DonGia">30000</td>
                                                    <td class="text-center">
                                                    <input class="form-check-input border-dark single-checkbox" name="DaThu" type="checkbox" checked style="transform: scale(1.35);">
                                                    </td>
                                                <td class="text-center NgayThu">16/11/2023</td>
                                                    <td class="text-end SoPhieuThu">1</td>
                                                </tr>
                                          
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row" md-1>
                            <div class="form-selectgroup-label d-flex align-items-center  justify-content-end">
                                <button class="btn btn-primary mb-2 me-2" id="btnLuuBN">Lưu</button>
                                <button class="btn btn-success mb-2" id="btnIn">In</button>
                            </div>
                        </div>
                    </div>
               </div>

                <div class="tab-pane" id="tabs-TiemChung" role="tabpanel">
                    <div class="w-100">
                        <div class="row d-flex justify-content-between">
                            <div class="row col-9 col-lg-6 mb-2 p-0">
                                <div class="row">
                                    <div class="col-3 ms-2">
                                        <div class="input-icon">
                                            <input type="text" autocomplete="off" class="form-control input-date-default" placeholder="Ngày khám" value="" disabled>
                                            <span class="input-icon-addon">
                                                <!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path><path d="M16 3v4"></path><path d="M8 3v4"></path><path d="M4 11h16"></path><path d="M11 15h1"></path><path d="M12 15v3"></path></svg>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-auto p-0">
                                        <button id="btnReloadDSTN" class="btn btn-icon" aria-label="Button">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-refresh" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path>
                                                <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="w-100">
                            <div class="card">
                                <div style="display: none;" id="progress">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-indeterminate bg-blue"></div>
                                    </div>
                                </div>
                                <div class="table-responsive" style="max-height:73vh;" id="tableDM">
                                    <table class="table table-vcenter card-table table-bordered table-hover table-nowrap">
                                        <thead>
                                            <tr>
                                                <th class="text-center p-2 w-2 ">STT</th>
                                                <th class="text-center TenBenhNhan col-2">Tên bệnh nhân</th>
                                                <th class="text-center TenVaccine">Tên vaccine</th>
                                                <th class="text-center SoLuong p-2 w-2">Số lượng</th>
                                                <th class="text-center SoCode col-1">Số code</th>
                                                <th class="text-center p-2 w-2 ">Kiểm tra thuốc</th>
                                                <th class="text-center DaTiem col-1">Đã tiêm</th>
                                                <th class="text-center NgayTiem p-2 w-2">Ngày tiêm</th>
                                            </tr>
                                        </thead>
                                           <tbody id="tbody-table">

                                        <tr>
                                        <td class="text-center p-2 STT">1</td>
                                        <td class="text-start TenBn">Thái Lai</td>
                                        <td class="text-start TenVaccine">covid</td>
                                        <td class="text-end SoLuong">1</td>
                                        <td class="text-center SoCode">0001</td>
                                        <td class="text-center last-td-column px-2">
                                          <button class="status status-purple border-0 btn-kham" value="">Kiểm tra</button>
                                        </td>
                                        <td class="text-center">
                                          <input class="form-check-input border-dark single-checkbox" name="DaTiem" type="checkbox" checked style="transform: scale(1.35);">
                                        </td>
                                        <td class="text-center NgayThu">16/11/2023</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" md-1>
                        <div class="form-selectgroup-label d-flex align-items-center  justify-content-end">
                            <button class="btn btn-primary mb-2 me-2" id="btnLuuBN">Lưu</button>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>
<script src="/js/qlkhambenh.js" defer asp-append-version="true"></script>