@{
    Layout = "/Views/Shared/_Layoutpdf.cshtml";
    List<LichTiemBn> datas = ViewBag.Datas;
}
<style>
    th {
        font-size: 15px;
    }

    td {
        font-size: 15px;
    }
</style>
<div class="title card" style="margin-left:0; display:block;">
    <div style="width:100%">
        <h1 style="font-size: x-large;font-weight: 700;text-align: center; margin: 0;">
            BÁO CÁO LỊCH HẸN BỆNH NHÂN
        </h1>
    </div>
</div>
<div class="info card">
    <div class="row-info text-center">
        Từ ngày: @ViewBag.TuNgay, Đến ngày: @ViewBag.DenNgay
    </div>
</div>
<div class="table card">
    <table style="width:100%;">
        <thead>
            <tr>
                <th class="text-center ">#</th>
                <th class="text-center col-1">Ngày hẹn</th>
                <th class="text-center col-2">Tên bệnh nhân</th>
                <th class="text-center col-1">Ngày sinh</th>
                <th class="text-center w-1">Giới tính</th>
                <th class="text-center col-2">Địa chỉ</th>
                <th class="text-center col-1">Điện thoại</th>
                <th class="text-center col-1">Email</th>
                <th class="text-center col-1">Nghề nghiệp</th>
                <th class="text-center col-2">Tên Vaccine</th>
            </tr>
        </thead>
        <tbody>
            @{
                int tt = 1;
            }
            @foreach (var data in datas)
            {
                <tr>
                    <td class="text-center">@tt</td>
                    <td class="text-center">@data.NgayHen?.ToString("dd-MM-yyyy")</td>
                    <td class="text-start">@data.IdbnNavigation.TenBn</td>
                    <td class="text-center">@data.IdbnNavigation.NamSinh</td>
                    <td class="text-start">@data.IdbnNavigation.IdgtNavigation.TenGioiTinh</td>
                    <td class="text-start">@data.IdbnNavigation.DiaChi</td>
                    <td class="text-end">@data.IdbnNavigation.DienThoai</td>
                    <td class="text-start">@data.IdbnNavigation.Email</td>
                    <td class="text-start">@data.IdbnNavigation.IdnnNavigation.TenNgheNghiep</td>
                    <td class="text-start">@data.IdvcNavigation.TenVaccine</td>
                </tr>
                tt++;
            }
        </tbody>
    </table>
</div>
<div style="page-break-inside:avoid;">
    <div class="">
        <div class="flex" style="font-size:16px; font-weight:700">
            <div class="w-34 text-center">
            </div>
            <div class="w-33 text-center">
            </div>
            <div class="w-33 text-center">
                <em>Ngày ... Tháng ... Năm ...</em>
            </div>
        </div>
    </div>
    <div class="">
        <div class="flex" style="font-size:16px; font-weight:700">
            <div class="w-34 text-center">
                
            </div>
            <div class="w-33 text-center">
                
            </div>
            <div class="w-33 text-center">
                Người lập phiếu
            </div>
        </div>
    </div>
    <div>
        <div class="flex" style="font-size:12px;">
            <div class="w-34 text-center">
                
            </div>
            <div class="w-33 text-center">
                
            </div>
            <div class="w-33 text-center">
                (ký, họ tên)
            </div>
        </div>
    </div>
</div>